# example tfvars file for using Rackspace Public Cloud
user_name            = ""
tenant_id            = ""
password             = "password_not_api_key"
auth_url             = "https://identity.api.rackspacecloud.com/v2.0/"
region               = ""
flavor               = "2"
image                = "6258d64f-64eb-4244-843e-01e92c66d1b2"
server_count         = "2"
instance_prefix      = "gitlab-runner"
gitlab_server_url    = "https://gitlab.com/"
gitlab_runner_token  = "set_gitlab_token_here"
gitlab_runner_tags   = "set_runner_tags_here"
gitlab_executor_type = "shell"
